<div><img src="assets/media/images/icon-happening.png"></div>
<div class="video-holder">

	<!-- video player -->
	<div class="videogular-container">
		<div class="video-player">
		<videogular vg-theme=" vm.config.theme"  vg-player-ready="vm.onPlayerReady($API)"  vg-complete="vm.onCompleteVideo()">
				<vg-media 
					vg-src="vm.config.sources"
					vg-youtube="rel=1;showinfo=0"
				>
				</vg-media>
	 
				<vg-controls vg-autohide="true" vg-autohide-time="2000">
					<vg-play-pause-button></vg-play-pause-button>
					<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						<vg-cuepoints vg-cuepoints-config="vm.config.plugins.cuepoints"
							 vg-cuepoints-theme="vm.config.plugins.cuepoints.theme.url">
						</vg-cuepoints>
					</vg-scrub-bar>
					<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
					<vg-volume>
						<vg-mute-button></vg-mute-button>
						<vg-volume-bar></vg-volume-bar>
					</vg-volume>
					<vg-fullscreen-button></vg-fullscreen-button>
				</vg-controls>
				
				<vg-analytics vg-track-info="vm.analytics"></vg-analytics>
	 
				<vg-overlay-play></vg-overlay-play>
				<vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
			</videogular>
		</div>
	</div>
	
	<!-- meta information -->
	<video-meta-info></video-meta-info>
</div>

<div id="aside-content">
	<top-list></top-list>
</div>

<div id="past-videos">
	<div><img src="assets/media/images/icon-archive.png"></div>
	<archive-videos></archive-videos>
</div>
