<nav id="main-menu">        
	<ul>	     
	<li><a ui-sref="home">
	    <span class="frente">:</span>HOME
	    <span class="tras">:</span></a>
	 </li>
    <li><a ui-sref="category({action:'s'})" ng-hide="true">
             <span class="frente">:</span>webséries
             <span class="tras">:</span></a>
    </li>
    <li><a ui-sref="category({action:'c'})">
             <span class="frente">:</span>video clips
            <span class="tras">:</span></a>
    </li>
    <li><a ui-sref="category({action:'f'})" >
          <span class="frente">:</span>filmes
          <span class="tras">:</span></a>      
    </li>
    <li><a ui-sref="category({action:'r'})">
            <span class="frente">:</span>reportagens
            <span class="tras">:</span></a>
    </li>
    <li><a ui-sref="sobre">
           <span class="frente">:</span>SOBRE
         <span class="tras">:</span></a>
    </li>         
  </ul>
</nav>
