html{
	padding:0px;
	margin: 0px;
	background-color:#808080;
}

body {
	font-family:sans-serif;
	font-size:12px;
	color: #999999;
	margin:0;
	padding:0;
}


table, tr, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding:4px;
}

.stripes {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC);
}
#header-wrapper{
	background-color:#DCDCDC; 	
	float:left;
	width:100%;
	border-bottom: 5px solid  #1E90FF;
	height: auto;
	padding-top: 20px;
	padding-bottom: 10px;
}
#header-wrapper .left-wing{
	/* background-color:pink; */
	float:left;
	width:20%;
}
.left-wing img{
	width: 100%;
	height: auto;
}
#header-wrapper .left-wing *{
	float:left;
}
#header-wrapper .right-wing{
	float:right;
	width:80%;
	padding-top: 27px;
}

#body-wrapper{
	background-color:#333333;
	float:left;
	width:100%;
	min-height: 480px;
	border-bottom: 5px solid  #1E90FF;

}
.marg{
	margin-top: 200px;
}
#tools-header{
	width:100%;
	height:30px;
	padding:4px;
}
#tools-header div{
	float:right;
}

.social{
	float: left;
	margin: 2px;
}

#menu-header{
	/* background-color:yellow; */
	position:relative;
	width:800px;
	max-width:  1349px; 
	height:auto;
	padding:0;
	margin:0px auto;
}

#header-wrapper .right-wing .social-share{
	float:right;
	margin-bottom: 5px;
	padding-right: 0px;
	height: 24px;
}

#header-wrapper .right-wing .social-share img{
	margin-left:8px;
}
#header-wrapper .right-wing .social-share img:hover{
	cursor:pointer;
	opacity:0.6;
}

#main-menu {
	/* background-color:red; */
	font-size:110%;
	color: #999999;
	float: right;
	text-transform:uppercase;
	
}
#main-menu  ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.tras{
	display: none;
}
#main-menu ul li { 
	display: inline-block;
	margin:0 0 0 20px;
}
#main-menu ul li:first-child { 
	border-left: none;
}
#main-menu ul li:hover {
	color: orange;
	cursor:pointer;
}
#main-menu ul li a {
	color: #1E90FF;
	text-decoration:none;
}
#main-menu ul li a:hover {
	color: orange;
}

#menu_btn{  
  float: right;
  margin-top: 7px;
  margin-right: 15px;  
  display: none;
 } 
 #menu_btn:hover{
 	cursor: pointer;
 }

#main-content{
	/* background-color:pink; */
	padding: 0 0 40px;
	width:900px;
	/*min-width:900px;
	max-width:900px;*/
	margin: auto;
}
#video-player{
	/* background-color:white; */
	float:left;
	width:100%;
	padding: 0 0 20px 0;
}
#past-videos{
	/* background-color:white; */
	float:left;
	width:100%;
}
.past-video {
	float:left;
	width:240px;
	height:160px;
}

#aside-content{
	/* background-color:white; */
	width:720px;
	margin: 0 auto;
	
}

#most-seen{
	/* background-color:white; */
	float:left;
	width:100%;
}
.most-seen{
	/* background-color:pink; */
	font-size:90%;
	float:left;
	 width:50%;
	 height: 130px; 
	padding: 0 50px 10px 0;	
}


#live-content{
	/* background-color:pink; */
	width:100%;
}
.live-one{
	width: 100%;
	font-size:90%;
	width: 100%;
	height: 55px;

}
.live-one:hover{
	cursor: pointer;
	
}
.s_live_img{
	float:left;
	width:6%;
}
.s_live_text{
	float:left;
	width:90%;
	padding-top: 13px;
}
.live-title{
	font-size: 15px;
}

#live-opcao{
  float: right;
  width: 100px;
  border: 1px solid #000;
}
#brand{
	display: none;
}

.single_category{
	/* background-color:pink; */
	font-size:90%;
	float:left;
	/* width:100%; */
	padding: 0 10px 40px 0;
	width: 40%;
	height: auto;
}
.single_category:hover{
	cursor: pointer;
}

.s_cat_img{
	float:left;
	width:40%;
	height:77.8px;
}
.s_cat_img:hover #play{
	cursor:pointer;
	opacity: 0.6;
}

.s_cat_text{
	float:left;
	width:60%;
	color: white;
	padding-left: 10px;
}
.s_cat_title{
	font-weight:bold;
}
.s_cat_metas{
	font-size: 8px;
}

#sinopse{
	text-align: justify;
}
.most-seen-image {
	float:left;
	width:40%;
	height:77.8px;
}


.most-seen-image:hover #play{
	cursor:pointer;
	opacity: 1;
}
#play{	
  opacity: 0;	
}
    
.most-seen-text {
	float:left;
	width:60%;
	color: white;
	padding-left: 10px;
}
.most-seen-text .title{
	font-weight:bold;
}
.most-seen-text:hover{
	cursor: pointer;
}
.single-category{
	width: 300px;
}
#footer-wrapper{
	background-color:#808080;
	float:left;
	width:100%;
	height: 100%;
}
#footer{
	color:black;
	width:720px;	
	height:40px;
	margin:0px auto; 
	padding-top: 5px;	
}
.footer-section{
	width:15.3333%;
	float:right;	
	height: 25px;
}
.footer-section img{
	cursor: pointer;
}

.footer-section .title{
	text-transform:uppercase;
	padding: 0 0 10px;
	color: #FFFFFF;
}

.footer-section #admin a{
	text-decoration:none;
	color: #dddddd;
}
.footer-section #admin a:visited{
	color: #dddddd;
}
.footer-section #admin a:hover{
	color: orange;
}
.footer-section .social{
	padding: 0 0 10px;
}
.footer-section ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.footer-section ul li { 
	display: inline-block;
	width:100%;
	padding:0 0 4px;
}

#footer-notes{
	width:100%;
	font-size: 90%;	

}
#footer-notes div{
	float:right;
	height:30px;
	padding: 4px 4px 2px;	
}

.aviso{
	color: orange;
}

#video-form {
	padding: 20px;
}
#video-form #operationMsg {
	font-size:120%;
	margin: 10px 0 10px 0;
}
#video-form #operationMsg.success {
	color:green;
}
#video-form #operationMsg.error {
	color:red;
}
#video-form .section {
	margin: 0 0 20px;
}
#video-form .section .title {
	font-size:18px;
	font-weight:bold;
	display:inline-block;
	margin: 0 0 4px;
}
#video-form .section .title div {
	display:inline-block;
}
#video-form .section .header {

}
#video-form .section .record {
}
#video-form input[type="text"],input[type="file"] , textarea{
	width: 400px;
	margin:0;
	padding:2px;
	display:inline-block;
}
#video-form input.table {
	width: 200px;
	margin:0;
	padding:2px;
}
#video-form .label {
	width: 100px;
	display: inline-block;
}
#video-form .label.table {
	width: 200px;
	display: inline-block;
	border: 1px solid black;
}
#sobre{
   width: 100%;
    padding: 8px;
    
}
.sobre_Body{
 width:100%;
float:right;

}

#sobre h3,p,li{
	color: #FFFFFF;
    
}
.vg-tweet {

  display: block;
  cursor: pointer;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
 
  article {
    padding: 5px;
 
    header {
      position: relative;
 
      h4 {
        margin: 0;
      }
 
      .user {
        display: inline-block;
        margin: 0;
        height: 48px;
        top: 5px;
        bottom: 0;
        left: 63px;
        position: absolute;
      }
    }
  }
 
 
 
}

vg-tweet:hover {
    background-color: #EEEEEE;
  }
 
  vg-tweet:selected {
    background-color: #C0DEED;
  }
 
  vg-tweet:completed {
    opacity: 0.5;
  }
 
 .f-nav{ 
 	 z-index: 9999; 
 	 position: fixed; 
 	 left: 0; 
 	 top: 0; 
 	 width: 100%;
     background: #DCDCDC;
     height: auto;
 	}
.top-control{
	display: none;
	position: fixed;	
	right: 20px;
	bottom: 20px;
	opacity: 0.7;

}
.top-controlor:hover{	
    cursor: pointer;
}

#img_top{
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 900px){
    #main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }
      
      #menu-header{	
	width:100%;
	max-width:1349px;
    display: block;
	height:auto;
	padding:0;
	margin:0;
}
#header-wrapper .left-wing{
	/* background-color:pink; */
	float:left;
	width:100%;
	
}      
   
#header-wrapper .left-wing *{
	float:left;
}
#header-wrapper .right-wing{
	width:100%;
}
#header-wrapper .right-wing .social-share{
	float:right;
	padding-bottom: 3px;
}

#header-wrapper .right-wing .social-share img{
	margin-left:8px;
}
#header-wrapper .right-wing .social-share img:hover{
	cursor:pointer;
	opacity:0.6;
}
      
 
    .menu li a, .menu li a:link, .menu li a:visited {
    color: blue;
    display: block;
    font-size: 16px;
    font-family:  sans-serif;
     padding: 6px 18px 8px;
    text-decoration: none;
}
    
    .menu{
        width: 100%
    
        }
    
        
.menu li a:hover,  {
    background:#388;
    color: #fff;
    
    border-radius: 2px;
}    
      
      
      
   #main-menu {
	
	font-size:110%;
	color: #999999;
    width: 100%;
}
#main-menu  ul {
	padding:0px;
	margin:0px;
	list-style:none;
	width: 100%;

}
#main-menu ul li { 
	display: inline;
	margin:0 0 0 0px;
	width: 100%;
}
#main-menu ul li:first-child { 
	border-left: none;
}
#main-menu ul li:hover {
	color: orange;
	cursor:pointer;
}
#main-menu ul li a {
	color: #1E90FF;
	text-decoration:none;
}
#main-menu ul li a:hover {
	color: orange;
}

#main-content{
	/* background-color:pink; */
	padding: 0 0 40px;
	width:900px;
	/*min-width:900px;
	max-width:900px;*/
	margin: auto;
}   
 

  @media screen and (max-width: 800px){
  	#main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }
      
}

#header-wrapper{
	 background-color:#DCDCDC; 
	
	float:left;
	width:100%;
	border-bottom: 5px solid  #1E90FF;
	height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}
#header-wrapper .left-wing{
	display: none;
}
#header-wrapper .right-wing{
	float:right;
	width:80%;
	padding-top: 0px;
}    
      #aside-content{
	/* background-color:white; */
	width:100%;
	height: auto;
	
}
    #most-seen{
	/* background-color:white; */
	float:center;
	width:100%;
	padding-left: 10px;
}

#cat_Titulo{
	padding-left: 10px;
	width: 110px;
  	height: auto;
}

#ms_Titulo{
	padding-left: 5px;
}
#ms_Titulo img{
	width: 110px;
  	height: auto; 
}
.most-seen{
	font-size:90%;
	float:left;
	 width:50%;
	 height: 130px; 
	padding: 0 40 10px 0;
}
.most-seen-image {
	float:left;
	width:140px;
}
.most-seen-image:hover {
	cursor:pointer;
}
.most-seen-text {
	float:left;
	width:140px;
	color: white;
}
.most-seen-text .title{
	font-weight:bold;
}
.most-seen-text:hover{
	cursor: pointer;
}
     .single_category{
	/* background-color:pink; */
	font-size:90%;
	float:left;
	/* width:100%; */
	padding: 0 10px 40px 0;
	width: 40%;
	height: auto;
}
.s_cat_img{
	float:left;
	width:40%;
}
.s_cat_text{
	float:left;
	width:60%;
	color: white;
}
.s_cat_title{
	font-weight:bold;
}
.s_cat_metas{
	font-size: 8px;
}

#header-wrapper .left-wing *{
	float:left;
}
#header-wrapper .right-wing{
	width:100%;
	height: auto;
}
#header-wrapper .right-wing .social-share{
	float:right;
	padding-bottom: 3px;
	padding-top: 2px;
	margin-bottom: 0px;
	padding-right:3px;
	
	height:auto;
}

#header-wrapper .right-wing .social-share img{
	margin-left:8px;
}
#header-wrapper .right-wing .social-share img:hover{
	cursor:pointer;
	opacity:0.6;
}
      
  nav {
width:100%;
margin-bottom:10px;
float: right; 
padding: 1px;
       
}
 .Navbar{
          width: 100%;
      }

#menu-top{
        width: 100%;
        height: 45px;
        padding-top: 3px;
       background:#1e90ff;
    }

.frente{
	display: none;
}
.tras{
	display: inline;
}
#menu_btn{ 
  float: right;
  display: inline;
}
 #brand{
	width: 80px;
	height: 32px;
	float: left;
	display: inline;
	margin-left: 25px;
	margin-top: 6px;
	
 }
nav ul{
list-style:none;
margin: 0 auto;

}
  
    
 nav ul li {
text-align:right;
width:100%;
border-bottom: 1px solid  #fff;
padding-right: 10px;

}
    
nav ul li a{
padding: 8px 0;
font-size: 20px;
} 
    .menu li a, .menu li a:link, .menu li a:visited {
    color: blue;
    display: block;
    font-size: 16px;
    font-family:  sans-serif;
     padding: 6px 18px 8px;
    text-decoration: none;
}
    
    .menu{
        width: 100%
    
        }
    
        
.menu li a:hover,  {
    background:#388;
    color: #fff;
    
    border-radius: 2px;
}    
      
      
      
   #main-menu {
	
	font-size:110%;
	color: #999999;
    width: 100%;
}
#main-menu  ul {
	padding:0px;
	margin:0px;
	list-style:none;
	width: 100%;

}
#main-menu ul li { 
	display: block;
	margin:0 0 0 0px;
	width: 100%;

}
#main-menu ul li:first-child { 
	border-left: none;
}
#main-menu ul li:hover {
	color: orange;
	cursor:pointer;
}
#main-menu ul li a {
	color: #1E90FF;
	text-decoration:none;
}
#main-menu ul li a:hover {
	color: orange;
}  
      
   nav{
   	display: none;
   }
   
 #footer{
	color:black;
	width:40%;	
	height:40px;
	padding-top: 10px;	
	padding-right: 10px;
	margin: 0;
	float: right;
}  
.footer-section{
	width:110px;
	float:right;	
	height: 25px;
}
   #adm {
    display: none;	
 }
}
  @media screen and (max-width: 700px){
  	 #main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }

     #most-seen{
	/* background-color:white; */
	float:center;
	width:100%;
	padding-left: 10px;
}
.most-seen{
	font-size:90%;
	float:left;
	 width:50%;
	 height: 130px; 
	padding: 0 40 10px 0;
}
.most-seen-image {
	float:left;
	width:140px;
}
.most-seen-image:hover {
	cursor:pointer;
}
.most-seen-text {
	float:left;
	width:40%;
	color: white;
	margin-top: 0px;
}
.most-seen-text .title{
	font-weight:bold;
}
.most-seen-text:hover{
	cursor: pointer;
}

.footer-section img{
	cursor: pointer;
}
}
  
  @media screen and (max-width: 600px){
  #main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }
   #most-seen{	
	float:center;
	width:100%;
    height: auto;
    padding-left:10px;
    padding-right: 10px;
}
.most-seen{
	font-size:90%;
	float:center;
	width:100%;
	height: 45px; 
	padding: 1px 0 0px 0;
	margin-bottom: 4px;
}

.most-seen img {
 width:100%;
 height: 100%;
 padding: 0px 0 0px 0;   
 }

.most-seen-image {
 float:left;
 width:15%;
 height: 100%;
}
.most-seen-text {
 float:right;
 width:85%;
 height:auto; 
 font-size: 12px;
 color: white;
 padding-left: 5px;
 margin-top: 0px;
}
.most-seen-text .title{
	font-weight:bold;
}
      .single-category{
	width: 100%;
}
      
    .single_category{
	font-size:90%;
	float:center;
	width: 100%;
	height: auto; 
	padding: 1px 0 0px 0;
	margin-bottom: 4px;
    }
   .s_cat_img{
	float:center;
    width:15%;
    height: auto;
}
 .s_cat_img img {
        width:100%;
        height: 100%;
        padding: 1px 0 0px 0;
        }
.s_cat_text{
	float:right;
 	width:85%;
 	height:auto; 
 	font-size: 12px;
 	color: white;
	padding-left: 5px;
}

#footer{
	color:black;
	width:80%;
	height:40px;
	padding-top: 10px;
	padding-right: 10px;
	float: right;
}

}
    @media screen and (max-width: 500px){
  	#main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }
    #most-seen{
	/* background-color:white; */
	float:center;
	width:100%;
    height: auto;
    padding-left:10px;
    padding-right: 10px;
}
.most-seen{
	/* background-color:pink; */
	font-size:90%;
	float:center;
	width:100%;
	height: 45px; 
	padding: 1px 0 0px 0;
	margin-bottom: 4px;
}
      .most-seen img {
      width:100%;
	 height: 100%;
       padding: 1px 0 0px 0;   
      }
      .most-seen-image {
	  float:left;
	  width:20%;
	  height: 100%;

}
      .most-seen-text {
	  float:right;
	  width:80%;
      height:auto; 
      font-size: 12px;
      color: white;
      padding-left: 5px;
      margin-top:0px;
}
.most-seen-text .title{
	font-weight:bold;
}
      .single-category{
	width: 100%;
}
      
     .single_category{
	font-size:90%;
	float:center;
	width: 100%;
	height: auto; 
	padding: 1px 0 0px 0;
	margin-bottom: 4px;
    }
   .s_cat_img{
	float:center;
    width:15%;
    height: auto;
}
 .s_cat_img img {
        width:100%;
        height: 100%;
        padding: 1px 0 0px 0;
        }
.s_cat_text{
	float:right;
 	width:85%;
 	height:auto; 
 	font-size: 12px;
 	color: white;
	padding-left: 5px;
}

}
  @media screen and (max-width: 400px){
  	 #main-content{
	/* background-color:pink; */
	padding: 0 0 0px;
	width:100%;
	margin: 0;
    }
  }