<img id="cat_Titulo" src="assets/media/images/{{ vm.c_titulo}}.png"/>
<div id="most-seen">
	<div ng-repeat="video in vm.videoList" class="single_category">
		
		<div class="s_cat_img" ui-sref="video({action:'{{video.videoId}}'})" ng-style="{'background':'url(./assets/media/images/{{video.medium}}) no-repeat','background-size':' cover'}">
			
			<img id="play" width="100%" height="77.8px" src="assets/media/images/p.png">
		</div>
		
		<div class="s_cat_text" ui-sref="video({action:'{{video.videoId}}'})">
			<div class="s_cat_title">{{video.title}}</div>
			<div class="s_cat_metas">{{video.datas}} | {{video.duration}}</div>
			<div >{{video.logline}}</div>
		</div>
	</div>
</div>