<div id="sobre">
<h3>O que é?</h3>
<p style="text-align: justify">A TV Kultura é uma unidade de produção de conteúdos, criada pelo Ministério da Cultura de Cabo Verde, em parceria com diversas entidades públicas e privadas, que terá a principal missão, informar sobre os diversos mecanismos de gestão cultural, públicos e privados, como sejam os direitos autorais, as vias de financiamento, os fóruns, as instituições culturais, as associações, etc. Além disso, agregará conteúdos já desenvolvidos por outros órgãos ou pessoas independentes. Funcionará em várias plataformas: TV tradicional (como um programa periódico); Internet; dispositivos móveis. Estará ainda em ligação direta com as redes sociais, através do Facebook , Twitter e YouTube.</p>

<h3>Porquê?</h3>
<p style="text-align: justify">Com a disseminação de meios tecnológicos e facilidade da nova geração no seu uso, assistimos a um grande desenvolvimento de conteúdos, nas redes sociais especialmente, e, em alguns casos, conteúdos com muita técnica e criatividade, que porém não encontram espaço nos mass mídia para a sua difusão. A TV Kultura foi criada para revelar esse tipo de conteúdo, cheio de talento, técnica e interesse público. </p>

<h3>Como funcionará? </h3>
<p style="text-align: justify">A TV Kultura terá uma produção interna mínima, de notícias e documentários. Sobre conteúdos já existentes (vídeo-clips, filmes, etc.), funcionará como uma curadoria, seleccionando e dando enquadramento. Todos os conteúdos serão publicados num canal YouTube e depois agregados no nosso website.</p>

<h3>Quem somos? </h3>
<p>Uma equipa pequena, motivada, das áreas de jornalismo, audiovisual, multimédia e computação:</p>
<ul>
	<li>Adilson Fernandes - Multimédia</li>
	<li>Cesar Schofield - Coordenação</li>
	<li>João Pires - Audiovisual</li>
	<li>Wilton Martins - Informatico</li>
	<li>Manu Reis - Estagiário</li>
</ul>
</div>